<html>
    <head>
        <link rel = "stylesheet" href = "bootstrap/css/bootstrap.min.css" />
        <link rel = "stylesheet" href = "Framework/CSS/Pipin.css" />

        <script src = "Framework/jQuery.js"></script>
        <script src = "Framework/Class.js"></script>
        <script src = "Framework/Pipin.js"></script>
        <script src = "Framework/Pipin.Animation.js"></script>

        <script src = "Classes/Player.js"></script>

        <script src = "Loader.js"></script>
        <script src = "game.js"></script>
    </head>

    <body>
        <div id = "gameContainer" class="container">
            <div class="center-block" style = "color:white; display:inline-block">
                <h1>Circlez</h1>
            </div>
            <div class="row"><!--
                <div class="col-sm-6">
                    <img src = "Framework/CSS/rds.png" />
                </div>-->
                <div class = "col-sm-6">
                    <canvas id = "gameCanvas" width = "1280" height = "720" style = "border:2px solid; cursor:pointer; background-color:white"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <h2> Pipin Version</h2>
                    <p>0.0.1</p>
                </div>

                <div class = "col-sm-3">
                    <h2> Game Version: </h2>
                    <p>0.0.1 </p>
                </div>

                <div class = "col-sm-3">
                    <h2> Mobile Friendly: </h2>
                    <p>No </p>
                </div>

                <div class = "col-sm-3">
                    <h2>Credits</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </body>
</html>
